<div  ng-controller="UserCtrl">
    <form ng-submit="login()">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-8">
                <h2>Login form</h2>
            </div>
            <div class="col-md-1">
                <a href="#!/registration">Registration</a>
            </div>
        </div>
        <!--FIELD-->
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 separate-line">
                <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.email.$invalid }">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" ng-model="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                    <div ng-messages="form.$submitted && form.email.$error" class="help-block">
                        <div ng-message="required">Email is required</div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.password.$invalid }">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" ng-model="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    <div ng-messages="form.$submitted && form.password.$error" class="help-block">
                        <div ng-message="required">Password is required</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <!--BUTTON-->
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary btn-block">Success</button>
            </div>
            <div class="col-md-3"></div>
        </div>
    </form>
</div>
