<div ng-controller="UserCtrl">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-8">
            <h2>Login form</h2>
        </div>
        <div class="col-md-1">
            <a href="#!/registration">Registration</a>
            <a href ng-click="logout()">Logout</a>
        </div>
    </div>

    <form ng-submit="login()" ng-show="!loggedIn()">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 separate-line">

                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" ng-model="userEmail" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary btn-block">Success</button>
            </div>
            <div class="col-md-3"></div>
        </div>
    </form>

    <div ng-show="loggedIn()">
        <div class="row">
            <h1>HI LOSER</h1>
        </div>
    </div>
</div>